
 .container{
     background-color: cyan;
     
 }  
 .mba{
     background-color: darkgreen;
 }
  
 .mbi{
     background-color: darkorange;
 }

 .pes{
    font-family: 'Dancing Script';
 }
 .pas{
    font-family: 'Dancing Script' 
 }

 .pus{
    font-family: 'Dancing Script'
 }