
 .container{
     background-color: cyan;
     
 }  
 .mba{
     background-color: slateblue;
 }
  
 .mbi{
     background-color: darkorange;
 }

 .pes{
    font-family: 'Dancing Script';
 }
 .pas{
    font-family: 'Dancing Script' 
 }
 .supu{
   text-align: center;
   text-decoration: black;
 }

 .pus{
    font-family: 'Dancing Script'
 }
 #samu{
    display: flex;
}