
 .container{
     background-color: cyan;
     
 }  
 .mba{
     background-color: slateblue;
 }
  
 .mbi{
     background-color: darkorange;
 }

 .pes{
    font-family: 'Dancing Script';
 }
 .pas{
    font-family: 'Dancing Script' 
 }
 .supu{
    font-family: 'Dancing Script', ;
    font-family: 'Anton', ;
    font-family: 'Akronim', ;
 }

 .pus{
    font-family: 'Dancing Script'
 }